html {
  background: #b8dbff;

  /*background-image: linear-gradient(
    to left, 
    #8fdbff 55%,
    blue
  );*/
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  background: #b8dbff;
}

.App a {
  color: black;
}

.Denver-Skyline {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;

  opacity: 0.9;
}